<% provide(:title, "Contacto") %>
<% provide(:active_section, "contact") %>

<%= render "layouts/page_wrapper", title: "Contacto" do %>

  <p>Para cualquier cuestión, comentario o sugerencia general relacionada con la AES: envía un correo electrónico a <%= mail_to "contacto@speedcubingspain.org" %>.</p>

  <p>Para cuestiones más específicas tienes los siguientes contactos:
    <ul>
      <li>Cuestiones a la Junta Directiva: <%= mail_to "junta@speedcubingspain.org" %>.</li>
      <li>Cuestiones sobre competiciones oficiales: <%= mail_to "competiciones@speedcubingspain.org" %>.</li>
      <li>Cuestiones a la Tesorería: <%= mail_to "tesoreria@speedcubingspain.org" %>.</li>
      <li>Cuestiones al Equipo de Software: <%= mail_to "software@speedcubingspain.org" %>.</li>
      <li>Cuestiones al Equipo de Comunicación: <%= mail_to "comunicacion@speedcubingspain.org" %>.</li>
    </ul>
  </p>

  <p>Si has encontrado algún fallo en la página, puedes abrir directamente una Issue en <a href="https://github.com/speedcubingspain/speedcubingspain.org/issues">GitHub</a>, o contactar con los administradores a través de <%= mail_to "administradores@speedcubingspain.org" %>.</p>
<% end %>
